<h1>Tervetuloa keskustelupalstalle!</h1>
<form action="/login" method="POST">

<p>Jotta pääset sisälle, sinun pitää kirjautua tunnuksillasi:</p> 
    <label for="username">Käyttäjätunnus:</label>
    <input type="text" id="username" name="username" size="23">
    <br>
    <label for="password">Salasana:</label>
    <input type="password" id="password" name="password" size="23">
    <br>
    <input type="submit" value="Kirjaudu">
</form>
<p>Jos sinulla ei ole vielä tunnuksia, voit luoda sellaiset tästä: <a href="/sisään">tästä</a></p>

